
[submodule "msvc-usuarios"]
	path = msvc-usuarios
	url = https://github.com/Angel453-jpg/msvc-usuarios.git
[submodule "msvc-cursos"]
	path = msvc-cursos
	url = https://github.com/Angel453-jpg/msvc-cursos.git
[submodule "msvc-gateway-kubernetes"]
	path = msvc-gateway-kubernetes
	url = https://github.com/Angel453-jpg/msvc-gateway-kubernetes.git
[submodule "msvc-gateway"]
	path = msvc-gateway
	url = https://github.com/Angel453-jpg/msvc-gateway.git
[submodule "msvc-oauth-kubernetes"]
	path = msvc-oauth-kubernetes
	url = https://github.com/Angel453-jpg/msvc-oauth-kubernetes.git
